<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img class="slide-image" src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg"
                alt="slider-image">
        </div>
        <div class="slide-pane">
            <h2 class="name">The Addams Family 2</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>*</span>
                        <span class="rating-value">7.0 / 10</span> |
                        <span>1099 Reviews</span> |
                        <span>2021</span>
                    </span>
                </div>
            </div>
            <div class="desc">
                "Doctor Strange, with the help of mystical allies both old and new, traverses the mind-bending and
                dangerous alternate realities of the Multiverse to confront a mysterious new adversary."
            </div>
        </div>
    </div>
</div>