<ng-container *ngIf="movie">
    <app-slider [items]="[movie]" [isBanner]="true"></app-slider>
    <p-tabView styleClass=" ">
        <p-tabPanel header="Overview">
            <app-movie-overview [movie]="movie"></app-movie-overview>
        </p-tabPanel>
        <p-tabPanel header="Videos">
            <div class="grid">
                <ng-container *ngFor="let movieVideo of movieVideos">
                    <div class="col-12 md:col-4 lg:col-4">
                        <app-movie-videos [key]="movieVideo.key" [site]="movieVideo.site"></app-movie-videos>
                    </div>
            
                </ng-container>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Photos">
            <div class="grid">
                <ng-container *ngFor="let movieImage of movieImages?.backdrops">
                    <div class="col-12 md:col-4 lg:col-4">
                        <app-movie-photos [movieImage]="movieImage"></app-movie-photos>
                        </div>
                </ng-container>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-carousel *ngIf="movieCredits" [value]="movieCredits.cast" [numVisible]="5">
        <ng-template let-actor pTemplate="item">
            <div class="actor">
                <img [src]="imagesSizes.small + actor.profile_path" alt="actor-pic" />
            </div>
            <span>{{actor.name}}</span>
        </ng-template>
    </p-carousel>
</ng-container>